.otp-input-container {
  display: flex;
  justify-content: center;
  // width: 5rem;
  // min-width: .5rem;
  .otp-input-element,
  select {
    width: 3.5rem;
    background: rgba($color: #000000, $alpha: 0.15);
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 2rem;
    line-height: 2.4rem;
    padding: 0.5rem 0;
    margin: 0 0.5rem;
    display: block;
    box-sizing: border-box;
    text-align: center;
    transition: border 200ms ease-out;
    user-select: none;
  }
  .invalid {
    border: 1px solid red;
    background-color: #fda49a;
  }
}
