.otp-input-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: fit-content;
  .otp-input-element,
  select {
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 3vw;
    min-width: 2.5rem;
    max-width: 4rem;
    height: 3vw;
    min-height: 2.5rem;
    max-height: 4rem;
    outline: none;
    border: 1px solid;
    border-radius: 50%;
    font-size: clamp(1rem, 2.5vw, 1.8rem);
    line-height: clamp(1rem, 2.5vw, 1.8rem);
    padding: 0.2em 0.2em;
    transition: border 200ms ease-out;
    user-select: none;
  }
  .invalid {
    border: 1px solid red;
    background-color: #fda49a;
  }
}
