.today-match-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  font-size: clamp(0.7rem, 1.5vw, 0.9rem);
  .gym-and-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    .gym-selector {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      div {
        white-space: nowrap;
      }
    }
  }
}

@media only screen and (min-width: 580px) {
  .today-match-container {
    gap: 1rem;
  }
}
