.today-match-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  font-size: clamp(0.7rem, 1.5vw, 0.9rem);
  .gym-and-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    .gym-selector {
      display: flex;
      align-items: center;
      div {
        white-space: nowrap;
        margin: 0 0.25rem;
      }
    }
  }
}
