.main-page-container {
	direction: rtl;
	max-height: 100vh;
	overflow: hidden;
}

@media only screen and (min-width: 560px) and (min-height: 630px) {
	.main-page-container {
		.menu-icon {
			display: none;
		}
	}
}
