.scoreboard-container {
  .background {
    // background: radial-gradient(circle, rgb(63, 63, 63) 0%, rgb(0, 0, 0) 100%);
    background: linear-gradient(
      90deg,
      rgb(20, 20, 20) 50%,
      rgb(40, 40, 40) 50%
    );
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .rotate-screen {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 4vw;
      color: rgb(150, 150, 150);
      img {
        width: 70px;
        margin: 2rem;
      }
    }
  }
  // .flash {
  // 	animation: flasher 0.05s;
  // }
  .main-scoreboard {
    display: none;
    flex-direction: column;
  }
  .action-buttons {
    display: none;
  }
  // .action-btn {
  // 	display: none;
  // }
}

@media only screen and (min-width: 560px) {
  .scoreboard-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    .background {
      .rotate-screen {
        display: none;
      }
    }
    .main-scoreboard {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      flex: 1;
      gap: 1.5vw;
      width: 100%;
      z-index: 99;
      .warm-up {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: calc(65% + 10vw);
        left: 50%;
        transform: translate(-50%, -50%);
        background: #eeff00;
        color: #000;
        border-radius: 50%;
        width: 6vw;
        height: 6vw;
        font-size: 1.1vw;
        font-weight: bold;
      }
      .timer {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #eeff00;
        font-size: 5vw;
        font-weight: bold;
        animation: textglow 1s infinite alternate;
        z-index: 99;
        .cancel-timer {
          font-size: 2.5rem;
          position: absolute;
          left: -3.5rem;
          top: 50%;
          transform: translateY(-60%);
        }
      }
      .play {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        color: #4bab58;
        border-radius: 50%;
        font-size: 10vw;
        z-index: 99;
      }
      .arrow {
        position: absolute;
        display: flex;
        top: 5%;
        left: 50%;
        color: #eeff00;
        font-size: 4vw;
        font-weight: bold;
        transform: translateX(-50%);
        transition: transform 0.2s ease-in-out;
      }
      .up-right {
        transform: translateX(-50%) rotate(10deg);
      }
      .down-right {
        transform: translateX(-50%) rotate(80deg);
      }
      .up-left {
        transform: translateX(-50%) rotate(260deg);
      }
      .down-left {
        transform: translateX(-50%) rotate(190deg);
      }
      .service-over {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #eeff00;
        font-size: 2vw;
        font-weight: bold;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }
      .win-point {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #eeff00;
        font-size: 3vw;
        font-weight: bold;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }
      .break-btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 68%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #eeff00;
        color: #000;
        border-radius: 50%;
        width: 8vw;
        height: 8vw;
        // aspect-ratio: 1;
        // @supports not (aspect-ratio: auto) {
        // padding-top: 100%;
        // height: 0;
        // position: relative;
        // overflow: hidden;
        // }
        font-size: 2vw;
        font-weight: bold;
        cursor: pointer;
        animation: glow 1s infinite alternate;
        z-index: 89;
      }
      .break-timer {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #eeff00;
        font-size: 9vw;
        font-weight: bold;
        animation: textglow 1s infinite alternate;
        z-index: 99;
        .cancel-timer {
          font-size: 2.5rem;
          position: absolute;
          left: -3.5rem;
          top: 50%;
          transform: translateY(-60%);
        }
      }
      .alert {
        animation: textalert 0.5s infinite alternate;
      }
    }
    .reverse {
      flex-direction: row;
    }
    .action-buttons {
      position: absolute;
      display: flex;
      justify-content: space-between;
      bottom: 13%;
      color: #fff;
      width: 15vw;
      z-index: 99;
      cursor: pointer;
      .action-btn {
        font-size: 5vw;
      }
      transition: opacity, filter 0.4s ease-in-out;
    }
  }
}

@media only screen and (min-width: 560px) and (min-height: 500px) {
  .scoreboard-container {
    min-height: 92vh;
  }
}

@media only screen and (min-width: 560px) and (min-height: 630px) {
  .scoreboard-container {
    min-height: 72vh;
    .main-scoreboard {
      align-items: flex-start;
    }
  }
}

@media only screen and (min-height: 760px) {
  .scoreboard-container {
    .main-scoreboard {
      align-items: center;
    }
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 30px -10px #eeff00;
  }
  to {
    box-shadow: 0 0 30px 10px #eeff00;
  }
}

@keyframes textglow {
  from {
    text-shadow: 0 0 -10px #eeff00;
  }
  to {
    text-shadow: 0 0 10px #eeff00;
  }
}

@keyframes textalert {
  from {
    text-shadow: 0 0 -10px #eeff00;
    color: #eeff00;
  }
  to {
    text-shadow: 0 0 10px #ff0000;
    color: #ff0000;
  }
}

// @keyframes flasher {
// 	from {
// 		background: radial-gradient(circle, rgb(63, 63, 63) 0%, rgb(0, 0, 0) 100%);
// 	}
// 	to {
// 		background: #fff;
// 	}
// }
