.scoreboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
  min-height: 100vh;
  .main-scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
  }
}

@media screen and (min-width: 560px) {
  .scoreboard-container {
    .main-scoreboard {
      flex-direction: row-reverse;
      align-items: center;
    }
  }
}
