.scoreboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
  min-height: 100vh;
  .main-scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
  }
}

@media only screen and (min-width: 560px) {
  .scoreboard-container {
    .main-scoreboard {
      flex-direction: row-reverse;
    }
  }
}

@media only screen and (min-width: 560px) and (min-height: 630px) {
  .scoreboard-container {
    min-height: 50vh;
    .main-scoreboard {
      align-items: flex-start;
    }
  }
}

@media only screen and (min-height: 760px) {
  .scoreboard-container {
    .main-scoreboard {
      align-items: center;
    }
  }
}
