.error-box {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1rem 1rem 2rem;
	font-size: 0.8rem;
	inset: 3% auto auto 38%;
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(9, 11, 25, 0.2);
	z-index: 1000;
	// .exit-icon {
	// 	display: flex;
	// 	align-self: flex-start;
	// 	margin: -0.3rem 1rem auto -0.3rem;
	// 	cursor: pointer;
	// }
	// .undo-button {
	// 	border: 1px solid rgba(255, 255, 255, 0.7);
	// 	border-radius: 5px;
	// 	margin-right: 1rem;
	// 	padding: 0.1rem 0.5rem;
	// 	cursor: pointer;
	// 	&:hover {
	// 		background-color: rgba(0, 0, 0, 0.2);
	// 	}
	// }
}
