.global-section-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 1rem;
	width: 100%;
	height: 100%;
	overflow: auto;
	.light {
		filter: blur(20px);
		position: fixed;
		top: 25%;
		background-color: rgba(255, 255, 255, 0.9);
		width: 100px;
		// aspect-ratio: 2;
		// @supports not (aspect-ratio: auto) { 
			// padding-top: 50%;
			// height: 0;
			// position: relative;
			// overflow: hidden;				
		// }
		border-radius: 50%;
		box-shadow: 0 0 90px 50px #fff;
		transform: rotate(120deg);
		opacity: 0.3;
	}
	.global-section-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		font-size: 4vw;
		.game-box {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-radius: 26px;
			padding: 1em 1.5em;
			background-color: rgba(0, 0, 0, 0.15);
			backdrop-filter: blur(5px);
			margin: 0 2%;
			margin-bottom: 0.7rem;
			cursor: pointer;
			direction: rtl;
			width: 96%;
			box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
				rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
			.details {
				width: 70%;
				padding: 0 0.5em;
				text-align: right;
				.title {
					font-size: 1.1rem;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				.game-number {
					font-size: 0.9rem;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				.players-name {
					font-size: 0.7rem;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					.span-score {
						margin: 1rem;
						font-size: 1rem;
						color: white;
						font-weight: bold;
					}
				}
			}
			img {
				max-width: 40px;
				margin-left: 0.5em;
			}
		}
	}
}

@media only screen and (min-width: 700px) {
	.global-section-container {
		padding: 3rem 2rem;
		flex: 1;
		max-height: 100%;
		.global-section-inner {
			font-size: 2vw;
			.game-box {
				border-radius: 25px;
			}
		}
	}
}
