.global-section-container {
  position: relative;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  max-height: 100%;
  padding: 1rem;
  overflow-y: auto;
  .live-scores-title {
    display: none;
  }
}

@media only screen and (max-height: 550px) {
  .global-section-container {
    align-content: flex-start;
    height: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  .global-section-container {
    align-content: center;
    padding: 4rem;
    width: fit-content;
    height: 100%;
    .live-scores-title {
      display: block;
      position: fixed;
      top: 1rem;
      font-size: clamp(1.2rem, 2vw, 1.5rem);
    }
  }
}
