.team-tournaments-wrapper {
  padding: 4rem;
  .team-tournaments-title {
    display: flex;
    gap: 10rem;
  }
  .tournamnets-item {
    margin-top: 2rem;
    .item-wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;
      .date {
        display: flex;
        gap: 1rem;
        align-items: center;
      }
      .arrow{
        display: flex;
        align-items: center;
      }
      .title {
        cursor: pointer;
      }
    }
  }
}
