.title-date-picker-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  .title-class-name {
    display: flex;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: clamp(0.75rem, 1.5vw, 1rem);
  }
  .date-picker-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    direction: rtl;
    padding: 0.5em 1.5em;
    font-size: clamp(1rem, 1.5vw, 1.1rem);
    border-radius: 25px;
    border: 1px solid;
    transition: box-shadow 0.15s ease-in-out;
    &:focus{
      outline: 1px solid;      
    }
  }  
  .rmdp-container {
    width: 100%;
  }
}