.team-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  .profile-avatar {
    top: 0;
    display: flex;
    justify-content: center;
    width: 35%;
    max-width: 130px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 0;
    margin-bottom: 2rem;
    overflow: hidden;
    -webkit-transform: translateZ(0) translateY(2rem);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    transform: translateZ(0) translateY(2rem);
    mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    img {
      cursor: pointer;
      width: 100%;
      object-fit: cover;
    }
    &:active {
      transform: scale(0.95) translateY(2rem);
    }
    .upload-image-wrapper {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0;
      left: 0;
      right: 0;
      height: 25%;
      cursor: pointer;
      background-color: rgba(#000000, 0.4);
      .camera {
        color: white;
      }
    }
  }
  .back-section {
    position: absolute;
    display: flex;
    left: 10px;
    top: 10px;
    font-size: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  .buttons-wrapper {
    width: 100%;
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
  }
}

@media only screen and (min-width: 780px) {
  .team-wrapper {
    .profile-avatar {
      margin-bottom: 0;
      transform: translateY(0);
      &:active {
        transform: scale(0.95);
      }
    }
  }
}
