.match-game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  padding: 0.5rem;
  border-radius: 10px;
  .match-game-header {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    .match-game-index {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      font-size: clamp(0.8rem, 1vw, 1rem);
      padding: 0.3em 1em;
    }
    .match-game-number {
      display: flex;
      flex: 1;
    }
    .game-court {
      justify-content: flex-end;
    }
  }
  .match-game-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    transition: all 200ms ease-out;
    .game-detail-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 200ms ease-out;
      .detail-items {
        display: flex;
        flex-direction: column;
        width: 60%;
        gap: 0.5rem;
        .detail-item {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }
  }
  .match-game-officials {
    .detail-name {
      min-width: 70px;
    }
  }
  .match-game-buttons {
    display: flex;
    gap: 1rem;
  }
  .left {
    direction: rtl;
  }
  .dash {
    display: none;
  }
}

@media only screen and (min-width: 400px) {
  .match-game {
    .match-game-header {
      display: flex;
      width: 100%;
      gap: 0.5rem;
    }
    .match-game-details {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;
      .game-detail-section {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        flex: 1;
        .detail-items {
          width: 100%;
        }
      }
    }
    .left {
      direction: ltr;
    }
    .dash {
      display: flex;
    }
  }
}

@media only screen and (min-width: 580px) {
  .match-game {
    max-width: 600px;
    .match-game-details {
      gap: 0.5rem;
      .game-detail-section {
        flex-direction: row;
        .detail-name {
          white-space: nowrap;
        }
      }
    }
  }
}
