.scoreboard-large-container{
    margin-top: .3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    .scoreboard-large-top{
        width: 100%;
        display: flex;
    }
}