.player-block-larger-container {
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .player-block-larger-container-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 2rem;
    }
    .player-block-larger-icon-container {
        width: 100%;
        .player-block-larger-icon-container-top-section {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .player-block-larger-icon-container-bot-section {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(255, 255, 0);
        }
    }
}
@media only screen and (max-width: 1050px) {
    .player-block-larger-container {
        width: 130px;
        // height: 150px;
        
    }
}
@media only screen  and (max-width: 1366px) {
    .player-block-larger-container {
        width: 170px;
        // height: 220px;
        
    }
}
@media only screen  and (max-width: 1536px) {
    .player-block-larger-container {
        width: 200px;
        // height: 200px;
       
    }
}
@media only screen and (max-width: 1920px) {
    .player-block-larger-container {
        width: 230px;
        // height: 260px;

    }
}
@media only screen and (min-width: 1921px) {
    .player-block-larger-container {
        width: 260px;
        // height: 300px;
    }
}
