.teams-matches {
  position: relative;
  padding: 0.5rem;
  .day-selector-container {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    .day {
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      width: 3.2rem;
      min-width: 3.2rem;
      height: 3.6rem;
      border: 1px solid;
      overflow: hidden;
      transition: all 50ms ease-in-out;
      .day-head {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 35%;
        padding: 0.25rem 0.5rem;
        font-size: 0.7rem;
        transition: all 50ms ease-in-out;
      }
      .day-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 65%;
        transition: all 50ms ease-in-out;
        .day-digit {
          font-size: 1.2rem;
          line-height: 1.2rem;
        }
        p {
          font-size: 0.6rem;
          line-height: 0.6rem;
        }
      }
    }
  }
  .day-content {
    display: flex;
    flex-wrap: wrap;
    .day-events {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1rem;
      gap: 0.5rem;
      width: 100%;
      .date-of-day {
        display: flex;
        width: 100%;
        max-width: 10rem;
        overflow: hidden;
      }
      .teams-table {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10rem;
        .table-row {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          border-bottom: 1px solid;
          padding: 0.5rem 0;
          .table-row-content {
            display: flex;
            width: 100%;
            .table-row-header {
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              width: 25%;
              white-space: nowrap;
            }
            .table-row-body {
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              width: 75%;
              padding: 0.5rem 0;
              gap: 0.5rem;
              .table-row-item {
                width: 100%;
                flex: 1;
              }
            }
          }
          .table-row-btns {
            width: 75%;
            display: flex;
            justify-content: center;
            gap: 2rem;
            padding: 0.3rem 0;
          }
        }
      }
    }
    .hide {
      display: none;
    }
    .day-match-games {
      position: absolute;
      flex-direction: column;
      align-items: flex-end;
      top: 0;
      left: 0;
      right: 0;
      padding: 0.5rem;
      width: 100%;
      max-width: 100%;
      .icon-back {
        display: block;
        font-size: 2rem;
      }
      .a-match-game {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0.5rem;
        font-size: 0.8rem; //4vw
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        .match-game-index {
          background-color: white;
          border-radius: 40px;
          padding: 0.5em 1em;
          font-size: 0.7rem; //3vw
        }
        .match-game-details {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          width: 100%;
          .match-game-team {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .players {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              .player {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                .player-image {
                  width: 35px;
                  border-radius: 50%;
                  object-fit: cover;
                }
              }
            }
            .scores {
              display: flex;
              gap: 0.7rem;
            }
          }
        }
        .dash {
          display: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 530px) {
  .teams-matches {
    padding: 2rem 2.5rem;
    .day-selector-container {
      justify-content: flex-start;
      .day {
        width: 3.6rem;
        min-width: 3.6rem;
        height: 4rem;
      }
    }
    .day-content {
      .day-events {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 1.5rem;
        max-width: 780px;
        .teams-table {
          padding-top: 1.5rem;
          .table-row {
            padding: 0;
            .table-row-content {
              flex-direction: column;
              .table-row-header {
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
              }
              .not-main {
                display: none;
              }
              .table-row-body {
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
              }
            }
            .table-row-btns {
              width: fit-content;
            }
          }
        }
      }
      .day-match-games {
        .a-match-game {
          gap: 0.5rem;
          .match-game-details {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            .match-game-team {
              flex: 1;
              .scores {
                flex-direction: column;
              }
            }
            .dash {
              display: block;
            }
          }
          .left {
            direction: ltr;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 720px) {
  .teams-matches {
    .day-content {
      .day-events {
        .teams-table {
          .table-row {
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;
            .table-row-btns {
              margin-bottom: 0.7rem;
              gap: 1rem;
            }
          }
        }
      }
      .hide {
        display: flex;
      }
      .day-match-games {
        position: relative;
        margin: 0 auto;
        max-width: 550px;
        .icon-back {
          display: none;
        }
      }
    }
  }
}
