.footer-scoreboard-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  .footer-scoreboard-item {
    height: 80%;
    width: 32%;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.36) 0px 1px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    p {
      font-size: 5vw;
    }
  }
}

@media only screen and (min-width: 560px) {
  .footer-scoreboard-container {
    padding: 0 20%;
    .footer-scoreboard-item {
      p {
        font-size: 3.5vw;
      }
    }
  }
}

@media only screen and (min-width: 960px) and (min-height: 630px) {
  .footer-scoreboard-container {
    margin-top: -2.5rem;
  }
}
