.footer-scoreboard-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  .footer-scoreboard-item {
    height: 80%;
    width: 32%;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 1.3em;
    }
  }
}
