.game-report-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  .actions-box {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.events-wrapper-report {
  // background-color: rgb(235, 235, 235);
  background-color: white;
  margin-bottom: 0.4rem;
  padding: 0;
  color: #000000;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 20mm;
  // font-size: 2vw;
  font-weight: normal;
  .history-table-report {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: visible;
    height: 100%;
    max-width: 100%;
    .table-column-report {
      border: 1px solid rgb(0, 0, 0);
      border-bottom: none;
      .circle {
        position: absolute;
        height: 112%;
        width: 12mm;
        top: 50%;
        transform: translate(-30%, -50%);
        border: 1px solid black;
        border-radius: 50%;
        .line {
          position: absolute;
          border-top: 1px solid black;
          top: 50%;
          width: 12.5mm;
          transform: rotate(160deg) translateX(5%);
        }
      }
      .smaller-circle {
        height: 90%;
        transform: translate(-30%, -60%);
      }
      .rotated-line {
        position: absolute;
        border-top: 2px solid black;
        top: -85%;
        width: 19.5mm;
        transform: rotate(105deg) translateX(140%);
      }
      .table-cell-report {
        display: flex;
        align-items: center;
        justify-content: center;
        direction: ltr;
        border-bottom: 1px solid rgb(0, 0, 0);
        min-width: 5mm;
        width: 100%;
        padding-top: 0.2rem;
        font-size: 12px;
        .name-in-cell-r {
          display: flex;
          justify-content: flex-start;
          // width: 100%;
          .player-name-div-r {
            // overflow: hidden;
            white-space: nowrap;
            // text-overflow: ellipsis;
            direction: rtl;
            // max-width: 85%;
          }
        }
      }
    }
  }
}
