.rounded-icon-conatiner{
    padding:.2rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1x solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}