.input-line {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
  justify-content: right;
  font-size: 0.7rem;
  margin: 0.5rem 0.5rem;
  .camera {
    max-height: 100%;
    border-radius: 50%;
    width: 40px;
  }
  .avatar {
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    left: 0;
    cursor: pointer;
    overflow: hidden;
    .avatar-upload-btn {
      position: absolute;
      text-align: center;
      background-color: black;
      opacity: 0.7;
      font-size: 0.6rem;
      height: 12px;
      width: 40px;
      top: 28px;
      z-index: 99;
    }
  }
}
.page-1 {
  padding: 1rem;
}
.width-fixer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
  justify-content: right;
  .selector {
    position: absolute;
    width: 55px;
    height: 40px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  img {
    height: 35px;
    margin-left: 10px;
    margin-top: 5px;
    z-index: 999;
    cursor: pointer;
  }
}

Input {
  font-size: 0.6rem;
  padding: 0.3rem 0.75rem;
  width: 100%;
}

p {
  color: black;
  direction: rtl;
  min-width: 70px;
}

.next-btn {
  float: left;
  margin: 1rem 1rem !important;
  padding: 0 0.3em;
  font-size: 1.1rem;
}

@media only screen and (min-width: 550px) {
  .page-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1px;
    column-gap: 10px;
    padding: 1rem !important;
  }
  .full-row {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  Button {
    font-size: 1rem !important;
  }
}

<<<<<<< Updated upstream
@media only screen and (min-width: 960px) {
  .input-line {
    font-size: 1.2rem;
    .camera {
      width: 70px;
=======
@media only screen and (min-width: 1050px) {
  .page-container {
    margin-top: 10vh;
    .input-line {
      margin: 0 33%;
      font-size: 0.9em;
>>>>>>> Stashed changes
    }
    .avatar {
      width: 70px;
      height: 70px;
      .avatar-upload-btn {
        position: absolute;
        text-align: center;
        background-color: black;
        opacity: 0.7;
        font-size: 1rem;
        height: 20px;
        width: 70px;
        top: 50px;
        z-index: 99;
      }
    }
  }
}
