.page-container {
  margin-top: 5vh;
  text-align: center;
  .input-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    justify-content: right;
    margin: 0 25%;
    font-size: 0.7em;
  }

  .width-fixer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    justify-content: right;
    height: 100%;
    .selector {
      position: absolute;
      background-color: white;
      width: 55px;
      height: 40px;
      border-radius: 50px;
    }
    img {
      height: 35px;
      margin-left: 10px;
      margin-top: 5px;
      z-index: 999;
      cursor: pointer;
    }
  }

  Input {
    margin-bottom: 2vh;
    font-size: 1.1em;
    padding: 0.3em 0.75em;
  }

  p {
    direction: rtl;
    width: 30%;
  }

  Button {
    margin-top: 5vh;
  }
}

@media only screen and (min-width: 960px) {
  .page-container {
    margin-top: 10vh;
    .input-line {
      margin: 0 33%;
      font-size: 0.9em;
    }
    Button {
      margin-top: 15vh;
      font-size: 1em;
    }
  }
}
