.header-main-container {
  display: none;
}

@media only screen and (min-width: 560px) and (min-height: 630px) {
  .header-main-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: 13vh;
    .timer {
      font-size: 6vw;
      font-weight: bold;
      align-self: center;
    }
    .team-name {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: stretch;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 100px;
      margin: 1rem;
      padding: 0.3em 2em;
      min-width: 200px;
      font-size: 2.7vw;
    }
  }
}

@media only screen and (min-width: 960px) {
}
