.header-main-container {
  display: none;
}

@media only screen and (min-width: 560px) and (min-height: 630px) {
  .header-main-container {
    background-color: #313131;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    .ball {
      position: absolute;
      display: flex;
      align-items: center;
      right: 7%;
      img {
        justify-self: center;
        max-width: 80%;
      }
    }
    .ball-counter {
      background-color: whitesmoke;
      border-radius: 5px;
      margin: 0 1rem;
      padding: 0 0.8rem;
      font-size: 1.8vw;
      width: 5%;
      font-weight: bold;
    }
  }
}

@media only screen and (min-width: 960px) {
}
