.header-main-container {
  display: none;
}

@media only screen and (min-width: 560px) {
  .header-main-container {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    z-index: 999;
    height: 12vh;
    min-height: 3rem;
    background-color: transparent;
    overflow: hidden;
    .events-container {
      display: none;
    }
    .add-shuttle {
      display: flex;
      padding: 0.5rem;
      height: 12vh;
      min-height: 3rem;
      max-height: 4rem;
      .shuttle-img {
        width: 4vw;
        height: 4vw;
        max-width: 40px;
        max-height: 40px;
        align-self: center;
      }
      .btn-content {
        font-size: clamp(25px, 5vw, 35px);
      }
      .ball-counter {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        border-radius: 5px;
        margin: 0 0.2rem;
        width: 25%;
        overflow: hidden;
        p {
          font-size: clamp(20px, 2vw, 30px);
          line-height: clamp(20px, 2vw, 30px);
          font-weight: bold;
        }
      }
    }
  }
  .exit-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .exit-buttons {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 2rem;
    }
  }
}

@media only screen and (min-height: 500px) {
  .header-main-container {
    position: relative;
    background-color: #313131;
    height: 8vh;
    .events-container {
      display: flex;
    }
    .add-shuttle {
      height: 8vh;
    }
  }
}
