.selector-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  //   min-height: 50vh;
  .title {
    margin-bottom: 1.5rem;
    font-size: clamp(0.6rem, 3vw, 1.1rem);
  }
  .options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin: auto;
    width: 100%;
    .option-box {
      min-width: 45%;
      border: 2px solid;
      padding: 1em 1em;
      border-radius: 1em;
      text-align: center;
      cursor: pointer;
      font-size: clamp(0.6rem, 3.2vw, 1rem);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .action-btns {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    margin-top: 1rem;
    font-size: clamp(0.6rem, 3vw, 1.1rem);
    .prev {
      position: absolute;
      left: 1rem;
      cursor: pointer;
    }
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  .selector-component {
    .options-container {
      .option-box {
        font-size: clamp(0.6rem, 3.2vw, 1.3rem);
      }
    }
  }
}
