.player-block-container {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  width: 90%;
  flex: 1;
  .player-block-action-container {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem 0 0.5rem;
    .player-block-image {
      display: none;
    }
    .player-block-icon-container {
      .player-block-icon {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .score-place-and-title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .score-place-title {
      align-self: center;
      margin: 0.2rem 0;
    }
    .hidden {
      display: none;
    }
    .score-place-container {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      position: relative;
      border-radius: 30px;
      min-width: 140px;
      min-height: 140px;
      width: 70%;
      padding-top: 70%; /* 1:1 Aspect Ratio */
      .badminton-ball {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 20%;
        height: 20%;
      }
      .score-text {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0 0 0;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        font-size: 40vw;
        font-weight: 600;
      }
    }
  }
}

@media only screen and (min-height: 670px) {
  .player-block-container {
    .player-block-action-container {
      padding: 0 0.5rem;
    }
    .score-place-and-title-container {
      .score-place-container {
        width: 73%;
        padding-top: 73%;
        .score-text {
          font-size: 42vw;
        }
      }
    }
  }
}

@media only screen and (min-height: 740px) {
  .player-block-container {
    .score-place-and-title-container {
      .score-place-container {
        width: 100%;
        padding-top: 100%;
        .score-text {
          font-size: 45vw;
        }
      }
    }
  }
}

@media only screen and (min-width: 550px) {
}

@media only screen and (min-width: 960px) {
  .player-block-container {
    .score-place-and-title-container {
      .hidden {
        display: block;
      }
      .test {
        display: none;
      }
    }
  }
}
