.player-block-container {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  width: 90%;
  flex: 1;
  .player-block-action-container {
    display: flex;
    align-items: center;
    .player-block-image-and-title {
      display: none;
    }
    .player-block-icon-container {
      .player-block-icon {
        display: flex;
        flex-direction: column;
        .btn-icon-img {
          font-size: 8vw;
        }
      }
    }
  }
  .action-rev {
    flex-direction: row-reverse;
  }
  .up-align {
    padding: 0.5rem 0.5rem 2rem 0.5rem;
  }
  .score-place-and-set-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: visible;
    .set {
      position: absolute;
      top: 5vh;
      align-self: flex-start;
      color: #0fe600;
      text-shadow: 0 0 20px #0fe600;
      font-size: 10vw;
      line-height: 10vw;
      padding: 0 6vw 0 0;
    }
    .set-rev {
      align-self: flex-end;
      padding: 0 0 0 6vw;
    }
    .hidden {
      display: none;
    }
    .score-place-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .score-text {
        font-size: 40vw;
        font-weight: 600;
      }
    }
  }
  transition: opacity, filter 0.4s ease-in-out;
}

@media only screen and (min-height: 670px) {
  .player-block-container {
    .score-place-and-set-container {
      .score-place-container {
        .score-text {
          font-size: 42vw;
        }
      }
    }
  }
}

@media only screen and (min-height: 740px) {
  .player-block-container {
    .score-place-and-set-container {
      .score-place-container {
        .score-text {
          font-size: 45vw;
        }
      }
    }
  }
}

@media only screen and (min-width: 560px) {
  .rev {
    flex-direction: row-reverse;
    margin-right: 2rem;
  }
  .player-block-container {
    padding: 0;
    align-self: stretch;
    .player-block-action-container {
      // flex: 2;
      width: 65%;
      display: flex;
      justify-content: center;
      .player-block-icon-container {
        flex: 1;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 1rem;
        width: 10vw;
        .player-block-icon {
          flex-direction: row;
          justify-content: flex-start;
          .btn-icon-img {
            font-size: 5vw;
          }
        }
        .up-btn {
          margin: auto 0;
        }
        .add-shuttle {
          width: 50%;
          .shuttle-img {
            width: 2rem;
            height: 2rem;
          }
        }
      }
      .player-block-image-and-title {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 65%;
        min-height: 100%;
        padding: 20vh 0;
        .player-name {
          max-width: 100%;
          text-align: center;
          font-size: 4.5vh;
          color: #f7ff00;
        }
        .player-img {
          // aspect-ratio: 1;
          // @supports not (aspect-ratio: auto) {
          // 	padding-top: 100%;
          // 	height: 0;
          // 	position: relative;
          // 	overflow: hidden;
          // }
          display: flex;
          overflow: hidden;
          border-radius: 50%;
          outline-offset: 2px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -khtml-border-radius: 50%;
          width: 10vw;
          max-width: 500px;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
      .blink {
        animation: blink-animation 0.7s infinite alternate;
      }
    }
    .up-align {
      padding: 2.5rem 0.5rem 0 0.5rem;
    }
    .score-place-and-set-container {
      // flex: 1;
      width: 35%;
      justify-content: center;
      .prev-score {
        background-color: #313131;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.3rem 1rem;
        top: 0;
        right: 50%;
        border-bottom-left-radius: 15px;
        font-size: 3vh;
        color: #f7ff00;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
      }
      .rev-prev-score {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 15px;
        left: 50%;
        right: unset;
      }
      .hidden {
        display: block;
      }
      .test {
        display: none;
      }
    }
  }
}

// @media only screen and (min-width: 560px) and (min-height: 580px) {
// 	.player-block-container {
// 		padding: 0;
// 	}
// }

@media only screen and (min-width: 960px) and (min-height: 580px) {
  .player-block-container {
    .player-block-action-container {
      .player-block-icon-container {
        .player-block-icon {
          .btn-icon-img {
            font-size: 10vw;
          }
        }
      }
    }
  }
}

@keyframes blink-animation {
  from {
    opacity: 0.4;
    transform: scale(0.985);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
