.player-block-container {
  display: none;
}

@media only screen and (min-width: 560px) {
  .rev {
    direction: ltr;
  }
  .player-block-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    width: 50%;
    transition: opacity, filter 0.4s ease-in-out;
    .player-block-action-container {
      display: grid;
      grid-template-columns: repeat(3, auto);
      row-gap: 2vh;
      flex: 1;
      .player-block-icon {
        grid-row: 2 / 4;
        grid-column-start: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn-icon-img {
          font-size: clamp(2rem, 7vw, 15vh);
        }
      }
      .player-name {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #f7ff00;
        font-size: clamp(1rem, 4.5vw, 7vh);
        white-space: nowrap;
        overflow: visible;
      }
      .player-img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -khtml-border-radius: 50%;
          width: 15vw;
          max-width: 23vh;
          height: 15vw;
          max-height: 23vh;
          object-fit: cover;
        }
      }
      .score-text {
        grid-column-start: 3;
        grid-row: 2 / 4;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(5rem, 20vw, 30vh);
        line-height: clamp(5rem, 20vw, 20vh);
        font-weight: bold;
      }
    }
    .blink {
      animation: blink-animation 0.7s infinite alternate;
    }
    .set-container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      max-height: 5rem;
      .set {
        padding: 0.5rem 1rem;
        color: #0fe600;
        text-shadow: 0 0 20px #0fe600;
        font-size: clamp(2.5rem, 10vw, 15vh);
        line-height: clamp(2.5rem, 10vw, 15vh);
      }
      .prev-score {
        background-color: #313131;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.3rem 1rem;
        border-bottom-left-radius: 10px;
        font-size: clamp(0.8vh, 2vw, 3.5vh);
        color: #f7ff00;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
      }
      .rev-prev-score {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

@media only screen and (min-height: 630px) {
  .player-block-container {
    .player-block-action-container {
      .player-img {
        img {
          width: 10vw;
          max-width: 15vh;
          height: 10vw;
          max-height: 15vh;
        }
      }
    }
  }
}

@keyframes blink-animation {
  from {
    opacity: 0.4;
    transform: scale(0.985);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
