.button-component {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.65em 1.75em;
  border-radius: 100px;
  border: none;
  margin: 0.3rem;
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  user-select: none;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: background-color 200ms ease;
  white-space: nowrap;
  .loading-spinner {
    width: 30px;
    height: 25px;
    img {
      max-width: 100%;
    }
  }
  img {
    max-height: 100%;
  }

  &:hover {
    box-shadow: 0 0 0 0;
  }
  &:active {
    transform: scale(0.95);
  }
  &:disabled {
    transform: scale(1);
    opacity: 0.7;
    filter: contrast(0.7) grayscale(1);
    box-shadow: 0 0 0 0;
    pointer-events: none;
  }
}
