.title-textarea-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 1.5rem;
  .title-class-name {
    display: flex;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
  }
  .title-textarea-element {
    direction: rtl;
    display: block;
    width: 100%;
    min-width: 250px;
    padding: 0.3em 1em;
    font-size: 1rem;
    border-radius: 15px;
    border: 1px solid;
    transition: box-shadow 0.15s ease-in-out;
    outline: none;
    resize: none;
    user-select: auto;
  }
}
