.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  height: 100%;
  direction: rtl;
  .loading {
    font-size: clamp(0.9rem, 2vw, 1.5rem);
    animation: fadein_out 1s infinite ease-out forwards;
  }
  .loading-spinner {
    font-size: clamp(0.9rem, 5vw, 3rem);
    margin-bottom: 0.5rem;
  }
  @keyframes fadein_out {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.8;
      transform: scale(0.96);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
