.setup-container {
  min-height: 100vh;
  .navigation-component {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 10vh;
    min-height: 15vh;
    .page-indicator {
      background-color: white;
      border-radius: 50%;
      margin: 0 0.3rem;
      width: 0.4rem;
      height: 0.4rem;
    }
  }
  .body-container {
    display: grid;
    place-items: center;
    min-height: 85vh;
    .page-container {
      background-color: white;
      border-radius: 10px;
      text-align: center;
      width: 90%;
      max-width: 800px;
      margin-top: -15vh;
      padding-top: 3rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
  }
}

@media only screen and (min-width: 960px) {
  .setup-container {
    .navigation-component {
      .page-number {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
