.live-games-page-wrapper {
  position: relative;
  flex: 1;
  direction: rtl;
  .live-games {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    overflow: auto;
    width: 100%;
    .hint {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }
  }
  .button-container {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    width: 100%;
    bottom: 0;
  }
}
