.live-games-page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  direction: rtl;
  overflow: auto;
  .live-games {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    flex: 1;
    padding: 1rem;
    overflow: auto;
    .hint {
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }
  }
  .button-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 1rem;
    width: 100%;
    .online-user {
      margin: 0 1rem;
      font-size: clamp(0.7rem, 2.5vw, 1.2rem);
      opacity: 0.5;
    }
  }
}
