.tour-page-container {
  display: flex;
  justify-content: space-around;
  height: 75vh;
  padding-bottom: 50px;
  .tournaments-wrapper {
    position: relative;
    overflow: auto;
    padding: 0 0.7rem;
    width: 100%;
    .tournament-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 20px;
      padding: 1em 1.5em;
      font-size: 1.2rem;
      text-align: right;
      background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(5px);
      margin-bottom: 0.7rem;
      overflow: hidden;
      direction: rtl;
      .icons {
        display: none;
        .icon {
          margin: 0.2rem;
          cursor: pointer;
        }
      }
      .progress {
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
      }
      p {
        width: 100%;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  .box-container {
    display: none;
  }
}

@media only screen and (min-width: 560px) {
  .tour-page-container {
    .tournaments-wrapper {
      .tournament-box {
        font-size: 1rem;
        max-height: 65px;
        .icons {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 110px;
          width: 100%;
          margin-top: 1rem;
          position: relative;
          .icon {
            max-height: 20px;
            margin-left: 0.7rem;
            // filter: grayscale(100%);
          }
          .edit-icon {
            position: absolute;
            left: 0;
          }
        }
      }
      .selected {
        transition: max-height 350ms ease-in-out;
        max-height: 100px;
      }
    }
    .box-container {
      position: relative;
      display: flex;
      min-width: 60%;
    }
  }
}
