.input-container {
  .input-class {
    flex: 1;
    max-height: 2.5rem;
    display: inline-block;
    font-size: 1rem;
    padding: 1rem 1rem;
    margin: 0 0.5rem;
    border-radius: 50px;
    box-sizing: border-box;
    outline: none;
  }
}
