.winner-modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: rtl;
  .details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: 400;
    .team-block {
      display: flex;
      text-align: center;
      flex: 1;
      .players-section {
        display: flex;
        flex-direction: column;
        flex: 1;
        max-height: 65vh;
        .set-score {
          font-size: clamp(3rem, 10vw, 6rem);
          line-height: clamp(3rem, 10vw, 6rem);
        }
      }
      .scores-details {
        background-color: rgba(0, 0, 0, 0.2);
        align-self: center;
        padding: 0.5rem;
        border-radius: 10px;
        font-size: clamp(1.5rem, 5vw, 3rem);
        line-height: clamp(1.5rem, 5vw, 3rem);
        width: 20%;
      }
    }
    .team-rev {
      flex-direction: row-reverse;
      margin-left: 2%;
    }
    .winner {
      animation: winnerglow 0.8s infinite alternate;
    }
  }
  .buttons {
    display: flex;
  }
}

@keyframes winnerglow {
  from {
    text-shadow: 0 0 -10px #4ca2cd;
  }
  to {
    text-shadow: 0 0 20px #4ca2cd;
  }
}
