.tournament-content-section-wrapper {
	width: 100%;
	height: calc(100vh - 4rem);
	border-radius: 25px;
	padding: 1rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	.tournament-content-section-content {
		display: grid;
		align-items: center;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, 19rem);
		gap: 2rem;
		padding: 1rem;
		max-height: 85%;
		max-width: 100%;
		overflow: auto;
	}
}

.swipe-action-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0.5rem;
	font-size: 0.7rem;
	cursor: pointer;
}
