.wait-page-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .each-slide {
    position: relative;
    display: flex;
    justify-content: center;
    height: calc(100vh);
    width: 100%;
    // height: calc(100vh - 8rem);
    // padding: 1rem;
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 90vw;
      height: 100%;
      font-size: 11vh;
      font-weight: 800;
    }
    img {
      height: 65vh;
      margin: auto;
    }
  }
  .wait {
    // height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      animation: fadeShow forwards 1s infinite;
    }
  }
}

@keyframes fadeShow {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
