.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .auth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex: 1;
    .section-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      width: 100%;
      max-width: 350px;
      min-width: 250px;
      padding: 1.5em 1.5em 0.5em 1.5em;
      box-shadow: 0 8px 10px rgba(0, 0, 0, 0.05);
      direction: rtl;
      .error-text {
        position: absolute;
        top: 10%;
        font-size: clamp(0.8rem, 1vw, 0.9rem);
      }
      .title-text {
        display: block;
        font-size: clamp(1rem, 2vw, 2.3rem);
        margin-bottom: 2rem;
      }
      .under-title {
        top: 30%;
      }
      .title-text-login {
        display: none;
      }
      .under-title-login {
        top: 2%;
      }
      .forgot-password {
        cursor: pointer;
        font-size: clamp(0.75rem, 1vw, 0.9rem);
        width: 100%;
      }
      .buttons-wrapper {
        display: flex;
      }
      .go-to {
        position: relative;
        margin-top: 1.5rem;
        font-size: clamp(0.9rem, 1.4vw, 1rem);
        span {
          cursor: pointer;
          margin-right: 0.5rem;
          font-size: clamp(1rem, 1.4vw, 1.1rem);
        }
      }
      .from-get-info {
        margin-top: 2rem;
      }
    }
    .sign-up {
      max-height: 80vh;
      justify-content: flex-start;
      overflow: auto;
    }
  }
}

// @media only screen and (max-height: 450px) {
//   .auth-container {
//     flex-direction: row-reverse;
//     .auth-section {
//       max-width: 45%;
//       .section-container {
//         max-width: 100%;
//       }
//     }
//   }
// }

@media only screen and (max-width: 1024px) and (min-height: 780px) {
  .auth-container {
    .auth-section {
      .section-container {
        .title-text-login {
          display: block;
          font-size: clamp(1rem, 2vw, 2.3rem);
          margin-bottom: 2rem;
        }
        .under-title-login {
          top: 20%;
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  .auth-container {
    flex-direction: row-reverse;
    .auth-section {
      .section-container {
        padding: 1.5rem 4rem;
        max-width: 520px;
        .title-text-login {
          display: block;
          font-size: clamp(1rem, 2vw, 2.3rem);
          margin-bottom: 2rem;
        }
        .under-title-login {
          top: 20%;
        }
        .forgot-password {
          margin-bottom: 1rem;
        }
        .go-to {
          margin-top: 1.5rem;
        }
      }
    }
  }
}
