.create-container {
    width: 100%;
    padding: 0;
    .inputs-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        max-height: 85vh;
        overflow-y: auto;
        direction: rtl;
        .pair-item-container {
            width: 100%;
            display: grid;
            justify-content: space-evenly;
            grid-template-columns: 1fr;
            // padding: 1rem;
        }
        .pair-half-item-container {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 1rem;
            
        }
    }
    .action-container {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0.3rem 1rem;
        justify-content: space-between;
        position: relative;
        height: 4rem;
        .save-button{
            position: absolute;
            left: 50%;
            width: 8rem;
            transform: translateX(-50%);
        }
        .save-button-large{
            width: 11rem;
        }
        .next-button{
            position: absolute;
            left: 0%;
        }
        .prev-button{
            position: absolute;
            left: 100%;
            transform: translateX(-100%);
        }
    }
}
