.input-container {
	position: relative;
	width: 100%;
	margin-bottom: 1.8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.input-element {
		background: rgba($color: #000000, $alpha: 0.15);
		direction: rtl;
		display: block;
		width: 80%;
		max-width: 400px;
		margin: 0 10%;
		min-width: 250px;
		padding: 0.5rem 1.5rem;
		font-size: 1.1rem;
		font-weight: 500;
		color: white;
		border-radius: 25px;
		border: none;
		transition: box-shadow 0.15s ease-in-out;
		outline: none;
		&::placeholder {
			color: white;
		}
	}
	.validtaion-message {
		position: absolute;
		top: 2.8rem;
		text-align: right;
		font-size: 0.9rem;
		padding-right: 0.5rem;
		margin-top: 0.2rem;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		color: #f44336;
	}
	.required {
		color: crimson;
		margin-right: 0.2rem;
	}
}
