.home-page-wrapper {
  position: relative;
  min-height: 100vh;
  padding: 10vh 5vw 15vh 5vw;
  .menu-icon {
    display: block;
    position: absolute;
    transform: translate(-80%, 10%);
    top: 0;
    right: 0;
    font-size: 1.8rem;
    cursor: pointer;
  }
}
