.tournament-days-credit {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  .day {
    position: relative;
    display: flex;
    align-items: center;
    margin: 2px 0;
    flex: 1;
    max-width: 150px;
    .day-date {
      display: none;
      .day-date-content{
        display: flex;
        gap: .2rem;
      }
    }
    .day-state {
      display: none;
    }
    .day-link {
      height: 4px;
      flex: 1;
      min-width: 3px;
      max-width: 60px;
      transition: background-color 200ms ease-out;
    }
    .day-credit {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.7rem;
      width: 60%;
      min-width: 22px;
      max-width: 30px;
      aspect-ratio: 1;
      border-radius: 50%;
      transition: background-color 400ms ease-out;
    }
  }
}

@media only screen and (min-width: 350px) {
  .tournament-days-credit {
    .day {
      .day-date {
        display: block;
        position: absolute;
        top: -80%;
        left: 50%;
        transform: translateX(-50%);
        font-size: clamp(0.7rem, 1vw, 0.9rem);
        white-space: nowrap;
      }
      .day-state {
        display: block;
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
        font-size: clamp(0.5rem, 1vw, 0.7rem);
        white-space: nowrap;
      }
    }
  }
}
