.footer-larger-container{
    width: 100%;
    display: flex;
    padding: .5rem;
    background-color: red;
    .footer-larger-block{
        padding: .5rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}