.player-modal-wrapper {
  width: 100%;
  position: relative;
  padding-top: 100px;
  .image-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .circle-div {
      position: relative;
      display: flex;
      justify-content: center;
      border-radius: 50%;
      width: 25%;
      max-width: 150px;
      padding: 0;
      aspect-ratio: 1; //this line was comment
      // @supports not (aspect-ratio: auto) {
      // padding-top: 100%;
      // height: 0;
      // position: relative;
      // overflow: hidden;
      // }
      overflow: hidden;
      box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      &:active {
        transform: scale(0.95);
      }
      img {
        width: 100%;
        aspect-ratio: 1; //this line was comment
        // @supports not (aspect-ratio: auto) {
        // padding-top: 100%;
        // height: 0;
        // position: relative;
        // overflow: hidden;
        // }
        object-fit: cover;
      }
      .upload-image-wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25%;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(#000000, 0.4);
        .camera {
          color: white;
        }
      }
    }
  }
  .input-wrapper {
    width: 100%;
    display: flex;
    padding: 2rem 1rem;
    padding-bottom: 0;
    flex-direction: column;
    max-height: 85vh;
    position: relative;
    overflow-y: auto;
    direction: rtl;
    margin-top: 1rem;
    .pair-item-container {
      display: grid;
      justify-content: space-evenly;
      grid-template-columns: 1fr;
    }
    .pair-half-item-container {
      display: grid;
      justify-content: space-evenly;
      grid-template-columns: 1fr;
    }
  }
  .action-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .back-button {
      display: flex;
    }
  }
}
@media only screen and (min-width: 560px) {
  .player-modal-wrapper {
    .input-wrapper {
      width: 100%;
      display: flex;
      padding: 2rem 1rem;
      padding-bottom: 0;
      flex-direction: column;
      max-height: 85vh;
      position: relative;
      overflow-y: auto;
      direction: rtl;
      margin-top: 0rem;
      .pair-item-container {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: 1fr;
        padding: 1rem;
      }
      .pair-half-item-container {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
      }
    }
    .action-wrapper {
      justify-content: center;
      .back-button {
        display: none;
      }
    }
  }
}
