.app-bar {
	background-color: white;
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	bottom: 5px;
	left: 5px;
	border-radius: 8px;
	width: calc(100% - 10px);
	height: 50px;
	.add-tournament {
		position: absolute;
		bottom: 60px;
		display: flex;
		align-items: center;
		background-color: white;
		z-index: 99;
		border-radius: 50%;
		font-size: 2rem;
		padding: 0.3em;
		cursor: pointer;
		box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
			rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	}
	.page-selector {
		margin: 5px;
		border-radius: 8px;
		align-self: stretch;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60%;
		img {
			max-height: 35px;
		}
		transition: background 0.3s ease;
	}
	.selected {
		background-color: #67b26f75;
	}
}

@media only screen and (min-width: 780px) and (min-height: 500px) {
	.app-bar {
		display: none;
	}
}
